.navbar-inverse {
   background-color: #222;
   border-color: #080808;
   width: 100%;
   position: sticky;
   z-index: 1;
   top: 0;
}

.container-fluid {
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav {
   display: block;
   list-style: none;
}

.navbar-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0;
}

.navbar-brand {
   padding: 10px 15px;
   font-size: 18px;
   line-height: 20px;
}

ul {
   list-style: none;
}

.navbar ul li a {
   padding: 13px 15px;
   display: block;
   color: #fff;
   transition: all 0.25s linear;
}

.navbar ul li a:hover {
   background-color: #080808;
}
